<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <h4>Details</h4>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-1">
        <a href="/" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Close">
        <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
</div>
<hr>
<div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <div class="d-grid gap-2">
              <a href="/edit/{{phone.id}}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit contact">
              <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <img
              src="/uploads/{{phone.photo}}"
              class="rounded-circle" alt="..." height="150" width="150" style="object-fit: cover;">
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <h4>{{phone.firstname}} {{phone.lastname}}</h4>
          </div>
        </div>
        <div class="row">

          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Phone</th>
                <td>{{phone.phonenumber}}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{phone.email}}</td>
              </tr>
              <tr>
                <th>Company</th>
                <td>{{phone.company}}</td>
              </tr>
              <tr>
                <th>Address</th>
                <td>{{phone.address}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="d-grid gap-2">
                <form action="/{{phone.id}}?_method=DELETE" method="post">
                    <input class="btn btn-danger" type="submit" value="delete">
                </form>
            </div>
          </div>
        </div>